*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
99 projectStudent_v251015michi (1)/bin/package_student/Iconr
99 projectStudent_v251015michi (1)/bin/package_student/exception/Iconr
99 projectStudent_v251015michi (1)/src/package_student/exception/Iconr
99 projectStudent_v251015michi (1)/.settings/Iconr
99 projectStudent_v251015michi (1)/bin/Iconr
99 projectStudent_v251015michi (1)/bin/package_student/Iconr
99 projectStudent_v251015michi (1)/bin/package_student/exception/Iconr
99 projectStudent_v251015michi (1)/src/package_student/exception/Iconr
